/* Page-specific styling */
.padding {
    padding: 10px;
}

#notification-popup.MessageBanner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    height: inherit;
    min-width: inherit;
}

#notification-popup .MessageBanner-text {
    margin: 0;
    padding: 18px 15px;
    min-width: inherit;
}
section.samples {
    margin-top: 20px;
}

    section.samples .ms-Button, section.setup .ms-Button {
        display: block;
        margin-bottom: 5px;
        margin-left: 20px;
        min-width: 80px;
    }

